<section id="about">
  <div class="container about__container">
    <div class="about__wrapper">
      <div class="about__images">
        <picture>
          <source
            srcset="
              /img/about/about-1-mobile.webp    1x,
              /img/about/about-1-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/about/about-1-desktop.webp    1x,
              /img/about/about-1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/about/about-1-mobile.webp"
            alt="bitcoin"
            class="about__img about__img-one active"
            data-content="values"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            srcset="
              /img/about/about-2-mobile.webp    1x,
              /img/about/about-2-mobile@2x.webp 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/about/about-2-desktop.webp    1x,
              /img/about/about-2-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/about/about-2-mobile.webp"
            alt="bitcoin 2"
            class="about__img about__img-two"
            data-content="goals"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="about__content">
        <p class="section-name">About Us</p>
        <h2 class="section-title section-title--about-title">
          <span class="active" data-content="values">Company standarts</span>
          <span data-content="goals">Company Goals</span>
        </h2>

        <div class="about__texts">
          <p class="about__text active" data-content="values">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
          </p>
          <p class="about__text" data-content="goals">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
            aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
            consectetur adipiscing elit.
          </p>
        </div>

        <div class="about__buttons">
          <button
            type="button"
            class="about__button-left active"
            data-tab="values"
          >
            Цінності
          </button>
          <button type="button" class="about__button-right" data-tab="goals">
            Цілі
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
