<section id="faq">
  <div class="container accordion__container">
    <ul class="accordion__list-mobile">
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-1.webp    1x,
                  /img/accordion/img-1@2x.webp 2x
                "
                src="/img/accordion/img-1.webp"
                alt="avatar 1"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-2.webp    1x,
                  /img/accordion/img-2@2x.webp 2x
                "
                src="/img/accordion/img-2.webp"
                alt="avatar 2"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-3.webp    1x,
                  /img/accordion/img-3@2x.webp 2x
                "
                src="/img/accordion/img-3.webp"
                alt="avatar 3"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-4.webp    1x,
                  /img/accordion/img-4@2x.webp 2x
                "
                src="/img/accordion/img-4.webp"
                alt="avatar 4"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-5.webp    1x,
                  /img/accordion/img-5@2x.webp 2x
                "
                src="/img/accordion/img-5.webp"
                alt="avatar 5"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper">
          <div class="accordion__item-header">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-6.webp    1x,
                  /img/accordion/img-6@2x.webp 2x
                "
                src="/img/accordion/img-6.webp"
                alt="avatar 6"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
            <svg width="17" height="17">
              <use href="/img/sprite.svg#arrow-left" />
            </svg>
          </div>
          <div class="accordion__item-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Curabitur pretium
              tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis
              et commodo pharetra, est eros bibendum elit.
            </p>
            <h4>Lorem ipsum</h4>
          </div>
        </div>
      </li>
    </ul>
    <div class="accordion__desktop-wrapper">
      <div class="accordion__desktop">
        <ul class="accordion__list-desktop">
          <li class="accordion__item" data-id="1">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-1.webp    1x,
                  /img/accordion/img-1@2x.webp 2x
                "
                src="/img/accordion/img-1.webp"
                alt="avatar 1"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
          </li>
          <li class="accordion__item" data-id="2">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-2.webp    1x,
                  /img/accordion/img-2@2x.webp 2x
                "
                src="/img/accordion/img-2.webp"
                alt="avatar 2"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
          </li>
          <li class="accordion__item" data-id="3">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-3.webp    1x,
                  /img/accordion/img-3@2x.webp 2x
                "
                src="/img/accordion/img-3.webp"
                alt="avatar 3"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
          </li>
          <li class="accordion__item" data-id="4">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-4.webp    1x,
                  /img/accordion/img-4@2x.webp 2x
                "
                src="/img/accordion/img-4.webp"
                alt="avatar 4"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
          </li>
          <li class="accordion__item" data-id="5">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-5.webp    1x,
                  /img/accordion/img-5@2x.webp 2x
                "
                src="/img/accordion/img-5.webp"
                alt="avatar 5"
                loading="lazy"
              />
            </div>
            <h2 class="accordion__item-header-title">Lorem ipsum dolor</h2>
          </li>
          <li class="accordion__item" data-id="6">
            <div class="accordion__item-img">
              <img
                srcset="
                  /img/accordion/img-6.webp    1x,
                  /img/accordion/img-6@2x.webp 2x
                "
                src="/img/accordion/img-6.webp"
                alt="avatar 6"
                loading="lazy"
                />
            </div>
            <h2 class="accordion__item-header-title">
              Lorem ipsum dolor sit amet
            </h2>
          </li>
        </ul>
        <div class="accordion__item-content">
          <h3 class="accordion__content-title">Lorem ipsum dolor sit amet</h3>
          <p class="accordion__content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.<br /><br />
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum. Curabitur pretium
            tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et
            commodo pharetra, est eros bibendum elit.
          </p>
          <h4 class="accordion__content-footer">Lorem ipsum</h4>
        </div>
      </div>
    </div>
  </div>
</section>
