<header>
  <div class="container header__container">
    <a href="/"
      ><img src="./img/logo.svg" alt="logo" width="119" height="36"
    /></a>
    <button
      type="button"
      aria-label="Menu"
      class="header__burger"
      data-mobile-open
    >
      <svg width="32" height="33">
        <use href="/img/sprite.svg#burger" />
      </svg>
    </button>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#about">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#service">Service</a>
        </li>
        <li class="header__nav-item">
          <a href="#token">Token Sale</a>
        </li>
        <li class="header__nav-item">
          <a href="#faq">FAQ’s</a>
        </li>
        <li class="header__nav-item">
          <a href="#team">Team</a>
        </li>
        <li class="header__nav-item">
          <a href="#blog">Bloq</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header__btn">Get in Touch</button>
  </div>
</header>
