<section>
  <div class="hero-bg">
    <picture>
      <source
        srcset="
          /img/hero/bitcoin-1-mobile.webp    1x,
          /img/hero/bitcoin-1-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/bitcoin-1-desktop.webp    1x,
          /img/hero/bitcoin-1-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/bitcoin-1-mobile.webp"
        alt="bitcoin"
        class="hero__img-1"
      />
    </picture>

    <picture>
      <source
        srcset="
          /img/hero/bitcoin-2-mobile.webp    1x,
          /img/hero/bitcoin-2-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/bitcoin-2-desktop.webp    1x,
          /img/hero/bitcoin-2-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/bitcoin-2-mobile.webp"
        alt="bitcoin"
        class="hero__img-2"
      />
    </picture>

    <picture>
      <source
        srcset="
          /img/hero/etherium-mobile.webp    1x,
          /img/hero/etherium-mobile@2x.webp 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          /img/hero/etherium-desktop.webp    1x,
          /img/hero/etherium-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/hero/etherium-mobile.webp"
        alt="etherium"
        class="hero__img-3"
      />
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__items">
      <div class="hero__item-1">
        <p class="hero__item-text">
          <span>2,000+</span> lorem ipsum dolor sit amet
        </p>
        <picture>
          <source
            srcset="/img/hero/avatars-1.webp 1x, /img/hero/avatars-1@2x.webp 2x"
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/hero/avatars-1-desktop.webp    1x,
              /img/hero/avatars-1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/hero/avatars-1.webp"
            alt="avatars"
            class="hero__item-img"
          />
        </picture>
      </div>
      <div class="hero__item-2">
        <p class="hero__item-text hero__item-text-2">
          <span>10,000+</span> lorem ipsum dolor sit amet
        </p>
        <img
          srcset="/img/hero/avatars-2.webp 1x, /img/hero/avatars-2@2x.webp 2x"
          src="/img/hero/avatars-2.webp"
          alt="avatars"
          class="hero__item-img"
        />
      </div>
      <div class="hero__item-1 hero__item-3">
        <p class="hero__item-text">
          <span>5,000+</span> lorem ipsum dolor sit amet
        </p>
        <picture>
          <source
            srcset="/img/hero/avatars-3.webp 1x, /img/hero/avatars-3@2x.webp 2x"
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              /img/hero/avatars-3-desktop.webp    1x,
              /img/hero/avatars-3-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/hero/avatars-3.webp"
            alt="avatars"
            class="hero__item-img"
          />
        </picture>
      </div>
    </div>
    <div class="hero__title-container">
      <h1 class="hero__title">
        Own Your Crypto<br />
        <span>Adventure</span>
      </h1>
      <span class="hero__title-text"> Lörem ipsum treras. </span>
      <p class="hero__title-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi
      </p>
    </div>

    <button type="button" class="hero__button">Get Started</button>
  </div>
</section>
