<div class="mobile-menu mobile-menu__is-hidden" data-mobile>
  <div class="mobile-menu__container">
    <div class="mobile-menu__header">
      <a href="/" data-mobile-close
        ><img
          src="./img/logo.svg"
          alt="logo"
          width="119"
          height="36"
          loading="lazy"
      /></a>
      <button
        type="button"
        class="mobile-menu__btn-close"
        data-mobile-close
        aria-label="close mobile menu"
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#close" />
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#about">About</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#service">Service</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#token">Token Sale</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#faq">FAQ’s</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#team">Team</a>
        </li>
        <li class="mobile-menu__nav-item" data-mobile-close>
          <a href="#blog">Bloq</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu__btn" data-mobile-close>
      Get in Touch
    </button>
  </div>
</div>
<div
  class="mobile-menu__backdrop mobile-menu__is-hidden"
  data-mobile-backdrop
></div>
