<section id="blog">
  <div class="container modules__container">
    <div class="wrapper-title">
      <p class="section-name">Lorem ipsum</p>
      <h2 class="section-title">Amet pretium</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div>

    <ul class="modules__list">
      <li class="modules__item">
        <button
          type="button"
          class="modules__item-header"
          aria-label="Open module 1"
        >
          <span class="modules__item-title">Module 1: The foundation</span>
          <svg width="29" height="29">
            <use href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <p class="modules__item-description">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own
        </p>
        <h3 class="modules__item-title-btn">What we will learn and do:</h3>
        <div class="modules__item-btn-wrapper">
          <button
            type="button"
            class="modules__item-btn bg-btn-one"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apps Development is a comprehensive solution for creating mobile and web applications."
            aria-label="Open module 1"
          >
            Apps Development
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-two"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. SEO Services will help you improve your website's visibility in search engines."
            aria-label="Open module 1"
          >
            SEO Services
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Data Analysis provides in-depth data analysis for decision making."
            aria-label="Open module 1"
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. The second Data Analysis focuses on specialized solutions."
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="modules__item-description-wrapper">
          <p class="modules__item-description-btn">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button
            type="button"
            class="modules__item-btn-close"
            aria-label="Close module 1"
          >
            <svg width="16" height="16">
              <use href="/img/sprite.svg#close" />
            </svg>
          </button>
        </div>
        <div class="modules__right-side">
          <img
            srcset="/img/module/img-1.webp 1x, /img/module/img-1@2x.webp 2x"
            src="/img/module/img-1.webp"
            alt="module 1"
            loading="lazy"
          />
        </div>
      </li>
      <li class="modules__item">
        <button
          type="button"
          class="modules__item-header"
          aria-label="Open module 2"
        >
          <span class="modules__item-title">Module 2: The foundation</span>
          <svg width="29" height="29">
            <use href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <p class="modules__item-description">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own
        </p>
        <h3 class="modules__item-title-btn">What we will learn and do:</h3>
        <div class="modules__item-btn-wrapper">
          <button
            type="button"
            class="modules__item-btn bg-btn-one"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apps Development is a comprehensive solution for creating mobile and web applications."
            aria-label="Open module 2"
          >
            Apps Development
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-two"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. SEO Services will help you improve your website's visibility in search engines."
            aria-label="Open module 2"
          >
            SEO Services
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Data Analysis provides in-depth data analysis for decision making."
            aria-label="Open module 2"
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. The second Data Analysis focuses on specialized solutions."
            aria-label="Open module 2"
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="modules__item-description-wrapper">
          <p class="modules__item-description-btn">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button
            type="button"
            class="modules__item-btn-close"
            aria-label="Close module 2"
          >
            <svg width="16" height="16">
              <use href="/img/sprite.svg#close" />
            </svg>
          </button>
        </div>
        <div class="modules__right-side">
          <img
            srcset="/img/module/img-2.webp 1x, /img/module/img-2@2x.webp 2x"
            src="/img/module/img-2.webp"
            alt="module 2"
            loading="lazy"
          />
        </div>
      </li>
      <li class="modules__item">
        <button
          type="button"
          class="modules__item-header"
          aria-label="Open module 3"
        >
          <span class="modules__item-title">Module 3: The foundation</span>
          <svg width="29" height="29">
            <use href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <p class="modules__item-description">
          Discover the most promising niche in cryptocurrencies where you can
          make decent money on your own
        </p>
        <h3 class="modules__item-title-btn">What we will learn and do:</h3>
        <div class="modules__item-btn-wrapper">
          <button
            type="button"
            class="modules__item-btn bg-btn-one"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apps Development is a comprehensive solution for creating mobile and web applications."
            aria-label="Open module 3"
          >
            Apps Development
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-two"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. SEO Services will help you improve your website's visibility in search engines."
            aria-label="Open module 3"
          >
            SEO Services
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Data Analysis provides in-depth data analysis for decision making."
            aria-label="Open module 3"
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button
            type="button"
            class="modules__item-btn bg-btn-three"
            data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. The second Data Analysis focuses on specialized solutions."
            aria-label="Open module 3"
          >
            Data Analysis
            <svg width="9" height="9">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <div class="modules__item-description-wrapper">
          <p class="modules__item-description-btn">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button
            type="button"
            class="modules__item-btn-close"
            aria-label="Close module 3"
          >
            <svg width="16" height="16">
              <use href="/img/sprite.svg#close" />
            </svg>
          </button>
        </div>
        <div class="modules__right-side">
          <img
            srcset="/img/module/img-3.webp 1x, /img/module/img-3@2x.webp 2x"
            src="/img/module/img-3.webp"
            alt="module 3"
            loading="lazy"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
