<section>
  <div class="container plans__container">
    <div class="wrapper-title">
      <p class="section-name">Plans</p>
      <h2 class="section-title">Exclusive Membership Plans</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div>

    <div class="plans__wrapper-cards swiper">
      <div class="swiper-wrapper">
        <!-- Card 1 -->
        <div class="swiper-slide">
          <div class="plans__card plans__card--one">
            <div class="plans__card-inner">
              <div class="plans__card-content">
                <h2 class="plans__card-title">Colleagues</h2>
                <p class="plans__card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="plans__modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="plans__price-container">
                  <div class="plans__price-month">
                    <p class="plans__price">3 329 <span>/month</span></p>
                    <div class="plans__price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="plans__price-total-container">
                    <div class="plans__price-total">
                      <p class="plans__total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="plans__discount">-5%</p>
                  </div>
                </div>
                <div class="plans__divider"></div>

                <ul class="plans__features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="plans__btn">Select</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="swiper-slide">
          <div class="plans__card plans__card--two">
            <div class="plans__card-inner plans__card-main">
              <div class="plans__card-content">
                <h2 class="plans__card-title">Colleagues</h2>
                <p class="plans__card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="plans__modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="plans__price-container">
                  <div class="plans__price-month">
                    <p class="plans__price">3 329 <span>/month</span></p>
                    <div class="plans__price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="plans__price-total-container">
                    <div class="plans__price-total">
                      <p class="plans__total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="plans__discount">-5%</p>
                  </div>
                </div>
                <div class="plans__divider"></div>

                <ul class="plans__features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="plans__btn">Select</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="swiper-slide">
          <div class="plans__card plans__card--three">
            <div class="plans__card-inner">
              <div class="plans__card-content">
                <h2 class="plans__card-title">Colleagues</h2>
                <p class="plans__card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="plans__modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="plans__price-container">
                  <div class="plans__price-month">
                    <p class="plans__price">3 329 <span>/month</span></p>
                    <div class="plans__price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="plans__price-total-container">
                    <div class="plans__price-total">
                      <p class="plans__total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="plans__discount">-5%</p>
                  </div>
                </div>
                <div class="plans__divider"></div>

                <ul class="plans__features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="plans__btn">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <button type="button" class="swiper-button-prev-custom" aria-label="Next">
        <svg width="15" height="15">
          <use href="/img/sprite.svg#arrow-left" />
        </svg>
      </button>
      <div class="swiper-pagination"></div>
      <button
        type="button"
        class="swiper-button-next-custom"
        aria-label="Previous"
      >
        <svg width="15" height="15">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
