<section id="service">
  <div class="container services__container">
    <!-- <div class="wrapper-title">
      <p class="section-name">Our Token</p>
      <h2 class="section-title">Token seal</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div> -->

    <ul class="services__list">
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#wallet" />
          </svg>
          <h2 class="services__item-title">Our Services for You</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#trade" />
          </svg>
          <h2 class="services__item-title">Bitcoin Escrow Service</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#cash" />
          </svg>
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#wallet" />
          </svg>
          <h2 class="services__item-title">Integrated App</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#cash" />
          </svg>
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
      <li class="services__item">
          <svg class="services__item-icon" width="50" height="50">
            <use href="/img/sprite.svg#wallet" />
          </svg>
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
      </li>
    </ul>
  </div>
</section>
