<section id="team">
  <div class="container team__container">
    <div class="wrapper-title">
      <p class="section-name">Team</p>
      <h2 class="section-title">Member of our expert team</h2>
      <p class="team-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi.
      </p>
    </div>
    <div class="team__slider-container">
      <div class="team__slide-border">
        <div class="team__slide-profile">
          <img
            id="profile-image"
            srcset="/img/team/team-1.webp 1x, /img/team/team-1@2x.webp 2x"
            src="/img/team/team-1.webp"
            alt="William Wilson"
            class="team__slide-profile-img"
            loading="lazy"
          />
          <div class="team__slide-profile-info">
            <h3 id="profile-title" class="team__slide-profile-info-title">
              DIAM VOLUTPAT
            </h3>
            <p id="profile-name" class="team__slide-profile-info-name">
              William Wilson
            </p>
            <p id="profile-subtitle" class="team__slide-profile-info-subtitle">
              Varius quam quisque
            </p>
          </div>
        </div>
      </div>
      <div class="team__slide-border-info">
        <div class="team__slide-info">
          <div class="team__slide-info-wrapper">
            <h4 id="info-title" class="team__slide-info-title">
              Android App Development
            </h4>
            <p id="info-subtitle" class="team__slide-info-subtitle">
              Tincidunt vitae semper quis lectus nulla.
            </p>
            <div class="team__slide-info-rating">
              <svg width="11" height="10">
                <use href="/img/sprite.svg#star-5" />
              </svg>
              <svg width="11" height="10">
                <use href="/img/sprite.svg#star-5" />
              </svg>
              <svg width="11" height="10">
                <use href="/img/sprite.svg#star-5" />
              </svg>
              <svg width="11" height="10">
                <use href="/img/sprite.svg#star-5" />
              </svg>
              <svg width="11" height="10">
                <use href="/img/sprite.svg#star-5" />
              </svg>
            </div>
          </div>
          <p id="info-description" class="team__slide-info-description">
            Rutrum quisque non tellus orci ac auctor augue mauris augue.
            Fermentum dui faucibus in ornare quam viverra. Mollis aliquam ut
            porttitor leo a diam. Mattis molestie a iaculis at erat pellentesque
            adipiscing.
          </p>
          <img
            src="/img/quotes.svg"
            width="99"
            height="99"
            alt="quotes"
            class="team__quote-icon"
            loading="lazy"
          />
        </div>
      </div>
      <button
        class="team__slide-nav-button team__slide-prev-button"
        aria-label="Previous"
      >
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-left" />
        </svg>
      </button>
      <div class="team__slide-navigation">
        <div class="team__slide-nav-dot active" data-index="0"></div>
        <div class="team__slide-nav-dot" data-index="1"></div>
        <div class="team__slide-nav-dot" data-index="2"></div>
      </div>
      <button
        class="team__slide-nav-button team__slide-next-button"
        aria-label="Next"
      >
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
