<section id="token" class="token">
  <div class="container token__container">
    <div class="wrapper-title">
      <p class="section-name">Our Token</p>
      <h2 class="section-title">Token seal</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div>

    <ul class="token__list">
      <li class="token__item">
        <svg class="token__item-icon" width="45" height="45">
          <use href="/img/sprite.svg#diagram" />
        </svg>
        <h3 class="token__item-title">Enjoy The Profit</h3>
        <p class="token__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
          massa ullamcorper ultrices eu tortor...
        </p>
      </li>
      <li class="token__item">
        <svg class="token__item-icon" width="45" height="45">
          <use href="/img/sprite.svg#pennies" />
        </svg>
        <h3 class="token__item-title">Customer Support</h3>
        <p class="token__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
          massa ullamcorper ultrices eu tortor...
        </p>
      </li>
      <li class="token__item">
        <svg class="token__item-icon" width="45" height="45">
          <use href="/img/sprite.svg#folder" />
        </svg>
        <h3 class="token__item-title">Confirmation</h3>
        <p class="token__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl praesent
          massa ullamcorper ultrices eu tortor...
        </p>
      </li>
    </ul>
  </div>
</section>
