<section>
  <div class="container vertical-slider__container">
    <div class="vertical-slider__content">
        <div class="wrapper-title">
          <!-- <p class="section-name">Our Token</p> -->
          <h2 class="section-title ">
            Crypto Sale
          </h2>
          <p class="section-description">
            Lörem ipsum sosm niliga syntris.
          </p>
        </div>

      <div class="vertical-slider__wrapper">
        <h3 class="vertical-slider__title-active" id="slider-title">
          Lörem ipsum häsat promotiv sedan depatologi tenes.
        </h3>
        <div class="vertical-slider__slides" tabindex="0">
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.1"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.1</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.2"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.2</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.3"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.3</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.4"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.4</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.5"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.5</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.6"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.6</p>
          </div>
          <div
            class="vertical-slider__slide"
            data-title="Lörem ipsum dorade boktig till geosylig postmodern.7"
          >
            <p>Lörem ipsum dorade boktig till geosylig postmodern.7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
