/* Plans section */
.plans__container {
  margin-top: 100px;
}

.plans__wrapper-cards {
  display: flex;
}

.plans__card {
  position: relative;
  width: 344px;
  border-radius: 25px;
  border: 2px solid var(--bg-main-color);
  margin-top: 28px;
}

.plans__card--one {
  background: radial-gradient(
      64.99% 65.39% at -19.32% 59.18%,
      rgba(223, 29, 255, 0.25) 0%,
      rgba(72, 205, 255, 0) 100%
    ),
    radial-gradient(
      77.42% 103.68% at 103.42% -8.18%,
      rgba(62, 238, 227, 0.3) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    linear-gradient(
      344deg,
      rgba(41, 46, 75, 0.23) 25.52%,
      rgba(37, 40, 58, 0.11) 74.08%,
      rgba(41, 46, 75, 0.11) 74.08%
    );
}

.plans__card--two {
  background: radial-gradient(
      46.55% 56.79% at 0% 105.61%,
      rgba(223, 29, 255, 0.35) 0%,
      rgba(72, 205, 255, 0) 100%
    ),
    radial-gradient(
      36.2% 43.15% at 103.42% -8.18%,
      rgba(62, 238, 227, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    linear-gradient(
      98deg,
      rgba(41, 46, 75, 0.23) 0%,
      rgba(37, 40, 58, 0.11) 100%,
      rgba(41, 46, 75, 0.11) 100%
    );
}

.plans__card--three {
  background: radial-gradient(
      74.55% 80.78% at 55.82% 36.11%,
      rgba(223, 29, 255, 0.25) 0%,
      rgba(72, 205, 255, 0) 100%
    ),
    radial-gradient(
      36.2% 43.15% at 103.42% -8.18%,
      rgba(62, 238, 227, 0.5) 0%,
      rgba(62, 69, 238, 0) 100%
    ),
    linear-gradient(
      344deg,
      rgba(41, 46, 75, 0.23) 25.52%,
      rgba(37, 40, 58, 0.11) 74.08%,
      rgba(41, 46, 75, 0.11) 74.08%
    );
}

.plans__card-inner {
  border-radius: 25px;
  backdrop-filter: blur(50px);
  overflow: hidden;
  border: 1px solid transparent;
}

.plans__card-content {
  padding: 24px;
  position: relative;
  z-index: 1;
}

.plans__card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
  height: 21px;
  color: var(--gray-01-color);
}

.plans__card-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  height: 37px;
  color: var(--gray-02-color);
}

.plans__modules-info {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-06-color);
}

.plans__price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plans__price-month {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.plans__price {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45;
  color: var(--primary-color);
}

.plans__price span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.plans__price-info {
  display: flex;
  gap: 10px;
  padding: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: var(--gray-02-color);
}

.plans__price-info p {
  text-decoration: line-through;
}

.plans__price-total-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.plans__price-total {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 97px;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
}

.plans__price-total span {
  text-decoration: line-through;
  font-size: 12px;
  line-height: 1.2;
  color: var(--gray-02-color);
}

.plans__discount {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 4px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px 0px #e0e5e6 inset;
  background-color: var(--yellow-color);
  color: var(--gray-09-color);
}

.plans__divider {
  height: 1px;
  background-color: #b5b5b5;
  margin: 16px 0;
}

.plans__features {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 18px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--gray-01-color);
}

.plans__features li {
  display: flex;
  align-items: flex-start;
}

.plans__features li::before {
  content: '•';
  padding: 0 8px;
}

.plans__btn {
  display: block;
  width: 100%;
  padding: 13px 32px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border: none;
  background: var(--gradient-color);
  outline: 1px solid rgba(255, 255, 255, 0.47);
  color: var(--gray-10-color);
}

.plans__btn:hover {
  background: linear-gradient(110deg, #18c8ff 14.89%, #933ffe 85.85%);
}

.swiper-slide{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 15px !important;
  width: fit-content !important;
  height: 10px !important;
  position: relative !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 6px !important;
  height: 6px !important;
  background-color: #b4b4b4 !important;
}

.swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--primary-color) !important;
}

.swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.swiper-buttons button {
  display: flex;
}

@media (min-width: 820px) {
  .swiper {
      width: 770px !important;
      overflow: hidden;
    }
  .plans__container {
    margin-top: 200px;
  }
  .plans__card{
    width: 350px !important;
  }

  .plans__card:hover {
    background: linear-gradient(var(--bg-main-color), var(--bg-main-color))
        padding-box,
      var(--gradient-border);
    border: 2px solid transparent;
    background-size: 200% 200%;
    animation: gradient-border 3s linear infinite;
    transform: scale(1.05);
  }

  .plans__card-content {
    padding: 27px 22px;
  }
}

@media (min-width: 1280px){
  .swiper-buttons {
      display: none;
    }
  .plans__container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .swiper {
    width: 1160px !important;
  }
}

@media (min-width: 1920px) {
  .swiper {
    width: 1180px !important;
  }
}
